<!DOCTYPE html>
<html>
<head>
<title>Counters</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<style>
body { 
        font-family:Poppins; 
        background:#0b1120; 
        color:white; 
        margin:0; 
        padding-left: 15px;
    }
.main { 
        margin-left:240px; 
        padding:30px; 
    }

table {
    width:100%;
    border-collapse: collapse;
    margin-top:20px;
}

th, td {
    padding:12px;
    text-align:center;
    border: #026433 solid 1px;
}


th { background:#1f2937; }

tr:hover { background:#1a2438; }

.edit {
    background: #3b82f6;
    padding: 6px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.delete {
    background: #ef4444;
    padding: 6px 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.search-box {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.search-box input {
    padding: 8px;
    border-radius: 6px;
    border: none;
    width: 250px;
    background-color: #1f2937;
    color:#0f9954;
    font-weight: bold;
}

.search-box button {
    background: #22c55e;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
}

.search-box a {
    background: #0a1dc2;
    padding: 8px 12px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}

</style>
</head>

<body>

<%- include("partials/sidebar") %>

<div class="main">

<h2>🏢 Counters List</h2>

<form method="GET" action="/counters" class="search-box">
    <input type="text" name="search" placeholder="Search Counter..." value="<%= search %>">
    <button type="submit">🔍</button>
    <a href="/counters">Reset</a>
    <a href="/add-counter">🏢 Add Counter</a>
    <a href="/export-counters" class="export-btn">
            ⬇ Export
        </a>
</form>

<table>
<tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Action</th>
</tr>

<% counters.forEach(c => { %>
<tr>
    <td><%= c.name %></td>
    <td><%= c.address %></td>
    <td><%= c.phone %></td>
    <td>
        <a href="/counter/edit/<%= c._id %>" class="edit">Edit</a>
        <a href="/counter/delete/<%= c._id %>" class="delete" onclick="return confirm('Delete this counter?')">Delete</a>
    </td>
</tr>
<% }) %>

</table>

</div>

</body>
</html>